<div class ="row">
    <div class="col-sm">
        <div class="card" style="width: 250px;">
            <div class="card-body">
                <h5 class="card-title">Name: <%= @person %></h5>
                <p class="card-body">Seen <%= @sightings.count %> flowers!</p>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <h2> Recent Sightings: </h2>
        <% @sightings.each do |sighting| %>
            <div class="row">
                <div class="col-sm">
                    <%= sighting[:person] %> saw <a href="/flower/<%=sighting[:flower_url]%>"><%= sighting[:name] %></a> at <a href="/location/<%= sighting[:location_url] %>"> <%= sighting[:location] %></a> on <%= sighting[:date] %>
                </div>
            </div>
        <% end %>
    </div>
</div>

